@import 'partials/reset';
@import 'partials/variables';
@import 'partials/general';

// HEADER
.header-top {
    background-color: $blue-dc-comics;
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 2rem;
        list-style: none;
        li {
            display: inline-block;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.header-bottom {
    height: 5rem;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            padding: .5rem 0;
            img {
                height: 4rem;
            }
        }
        .menu {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                list-style: none;
                li {
                    display: flex;
                    align-items: center;
                    height: calc(5rem - 5px);
                    border-bottom: 5px solid transparent;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: 600;
                        color: #555758;
                    }
                    &.active {
                        border-bottom: 5px solid $blue-dc-comics;
                        a {
                            color: $blue-dc-comics;
                        }
                    }
                }
            }
        }
        .search {
            border-bottom: 2px solid $blue-dc-comics;
            input {
                border: none;
                text-align: right;
                padding-bottom: 5px;
            }
        }
    }
}

// JUMBOTRON
.jumbotron {
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    height: 35rem;
}

// ROUTE COMICS

.main-content {
    padding: 3rem 0;
    &.main-content-comics {
        background-color: #1c1c1c;
        color: white;
    }
}

.content-menu {
    padding: 3rem 0;
    background-color: $blue-dc-comics;
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        li {
            text-transform: uppercase;
        }
        img {
            height: 3rem;
            vertical-align: middle;
            margin-right: .5rem;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}

// CARDS-CONTAINER
.comics-container {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        position: absolute;
        top: -5rem;
        align-self: flex-start;
        background-color: $blue-dc-comics;
        font-weight: 800;
        text-transform: uppercase;
        padding: .5rem 3rem;
    }
    .cards-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 3rem;
        .comic-card {
            display: flex;
            flex-direction: column;
            width: calc(100% / 6 - 1rem);
            .serie-thumb {
                width: 100%;
                height: 168px;
                img {
                    width: 100%;
                    height: 100%;
                    object-position: top;
                    object-fit: cover;
                }
            }
            .serie-title {
                text-transform: uppercase;
                text-decoration: none;
                color: white;
            }
        }
    }
    button {
        border: none;
        background-color: $blue-dc-comics;
        padding: .5rem 3rem;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
}

// ROUTE COMIC/{id}
.thumb-comic {
    height: 5rem;
    background-color: $blue-dc-comics;
    .container-narrow {
        position: relative;
        .thumb-container {
            position: absolute;
            bottom: -4rem;
            border: 1px solid white;
            .label {
                background-color: #00a9d9;
                color: white;
                text-transform: uppercase;
                &.label-comic-book {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0 .5rem;
                }
                &.label-view-gallery {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.content-menu-2 {
    background-color: #f6f6f6;
    border-top: 1px solid #b4b6b9;
    .container-narrow {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
            width: calc(100% / 4);
            text-transform: uppercase;
            border-left: 1px solid #b4b6b9;
            &:last-of-type {
                border-right: 1px solid #b4b6b9;
            }
        }
        a {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1rem;
            text-decoration: none;
            font-weight: 600;
            color: grey;
            .icon {
                display: inline-block;
                width: 37px;
                height: 37px;
                background-image: url(../images/cta-icons.png);
                &.icon-digital-comics {
                background-position: 0 0;
                }
                &.icon-shop-dc {
                background-position: 37px 0;
                }
                &.icon-comic-shop-locator {
                background-position: 74px 0;
                }
                &.icon-subscription {
                background-position: 111px 0;
                }
            }
            &:hover {
                color: $blue-dc-comics;
                .icon {
                    &.icon-digital-comics {
                        background-position: 0 37px;
                        }
                        &.icon-shop-dc {
                        background-position: 37px 37px;
                        }
                        &.icon-comic-shop-locator {
                        background-position: 74px 37px;
                        }
                        &.icon-subscription {
                        background-position: 111px 37px;
                        }
                }
            }
        }
    }
}

// FOOTER
footer {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    .main-footer {
        background-image: url(../images/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        background-size: 35rem;
        display: flex;
        justify-content: flex-start;
        .footer-links-container {
            padding: 2rem 0;
            height: 33rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem 2rem;
            list-style: none;
            h3 {
            text-transform: uppercase;
                color: white;
                margin-bottom: 1rem;
            }
            a {
                text-decoration: none;
                color: #828282;
            }
        }
    }
}

.footer-navbar {
    padding: 2rem 0;
    background-color: #303030;
    background-image: none;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background: none;
            border: 1px solid $blue-dc-comics;
            padding: .8rem;
            text-transform: uppercase;
            color: white;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
        }
        .social-networks {
          display: flex;
          align-items: center;
          gap: 1rem;
          h3 {
            text-transform: uppercase;
            color: $blue-dc-comics;
          }
        }
    }
}
